name: Pull Request

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends -y \
            libwayland-dev \
            libasound2-dev \
            libudev-dev
      - name: Format (server)
        run: cargo fmt --manifest-path crates/server/Cargo.toml --verbose --check
      - name: Format (client)
        run: cargo fmt --manifest-path crates/client/Cargo.toml --verbose --check
      - name: Format (gfx)
        run: cargo fmt --manifest-path crates/gfx/Cargo.toml --verbose --check
      - name: Format (gfx-tui)
        run: cargo fmt --manifest-path crates/gfx-tui/Cargo.toml --verbose --check
      - name: Clippy (client)
        run: cargo clippy --verbose
      - name: Clippy (server)
        run: cargo -Z unstable-options -C crates/server clippy --verbose
      # - name: Build (client)
      #   run: cargo build --verbose
      # - name: Build (server)
      #   run: cargo -Z unstable-options -C crates/server build --verbose
      # - name: Make
      #   run: make re
