name: Pull Request

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      server: ${{ steps.filter.outputs.server }}
      client: ${{ steps.filter.outputs.client }}
      gfx: ${{ steps.filter.outputs.gfx }}
      gfx-tui: ${{ steps.filter.outputs.gfx-tui }}
    steps:
      - uses: actions/checkout@v3
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            server:
              - 'crates/server/**'
            client:
              - 'crates/client/**'
            gfx:
              - 'crates/gfx/**'
            gfx-tui:
              - 'crates/gfx-tui/**'

  build:
    runs-on: ubuntu-latest
    needs: detect-changes

    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        if: needs.detect-changes.outputs.gfx == 'true'
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends -y \
            libwayland-dev \
            libasound2-dev \
            libudev-dev

      - name: Format (server)
        if: needs.detect-changes.outputs.server == 'true'
        run: cargo fmt --manifest-path crates/server/Cargo.toml --verbose --check

      - name: Clippy (server)
        if: needs.detect-changes.outputs.server == 'true'
        run: cargo -Z unstable-options -C crates/server clippy --verbose

      - name: Format (client)
        if: needs.detect-changes.outputs.client == 'true'
        run: cargo fmt --manifest-path crates/client/Cargo.toml --verbose --check

      - name: Clippy (client)
        if: needs.detect-changes.outputs.client == 'true'
        run: cargo clippy --manifest-path crates/client/Cargo.toml --verbose

      - name: Format (gfx)
        if: needs.detect-changes.outputs.gfx == 'true'
        run: cargo fmt --manifest-path crates/gfx/Cargo.toml --verbose --check

      - name: Clippy (gfx)
        if: needs.detect-changes.outputs.gfx == 'true'
        run: cargo clippy --manifest-path crates/gfx/Cargo.toml --verbose

      - name: Format (gfx-tui)
        if: needs.detect-changes.outputs.gfx-tui == 'true'
        run: cargo fmt --manifest-path crates/gfx-tui/Cargo.toml --verbose --check

      - name: Clippy (gfx-tui)
        if: needs.detect-changes.outputs.gfx-tui == 'true'
        run: cargo clippy --manifest-path crates/gfx-tui/Cargo.toml --verbose
